{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
liste des candidatures
{% endblock %}

{% block body %}

<button class="btn btn-primary m-5"><a class="text-white" href="{{ path('app.create')}}">Ajouter une
    candidature</a></button>

<section class="container">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" data-toggle="table" data-sort-name="fullName"
      data-sort-order="asc" data-pagination="true" data-search="true" data-show-columns="true">
      <thead class="thead-dark">
        <tr>
          <th scope="col" data-sortable="true" class="overflow-auto">id</th>
          <th scope="col" data-field="entreprise" data-sortable="true">entreprise</th>
          <th scope="col" data-sortable="true" class="overflow-auto">localisation</th>
          <th scope="col" data-sortable="true" class="overflow-auto">description entreprise</th>
          <th scope="col" data-sortable="true">poste</th>
          <th scope="col" data-sortable="true">description poste</th>
          <th scope="col" data-sortable="true">salaire</th>
          <th scope="col" data-sortable="true">languages</th>
          <th scope="col" data-sortable="true">requis</th>
          <th scope="col" data-sortable="true">lien annonce</th>
          <th scope="col" data-sortable="true">en ligne ?</th>
          <th scope="col" data-sortable="true">retour ?</th>
        </tr>
      </thead>
      <tbody>
        {% include "bodyTable.html.twig" %}
      </tbody>
  </div>
  </table>
</section>
{% endblock %}